@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ded9d9;
  --foreground: #27423a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #27423a;
    --foreground: #ded9d9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
